body {
      font-family: 'Bad Script', cursive;
      font-size: 18px;
}
/* centered columns styles */
.row-centered {
      text-align:center;
}
.col-centered {
      display:inline-block;
      float:none;
      /* reset the text-align */
      text-align:left;
      /* inline-block space fix */
      margin-right:-4px;
}
/* Summary Styles */
.main-image {
      margin:auto;
}
.padding-0 {
      padding: 0;
}
.summary {
      padding: 20px 0 0 0;
}
/* book styles */
.book-cover {
      margin:auto;
      max-height:350px;
      padding: 0 0 15px 0;
}
.book {
      padding: 20px 0 0 0;  
}
.book h3{
      text-align:center;
      padding: 0 0 15px 0;
}
/* footer styles */
.footer {
      padding: 20px 0 0 0; 
}